*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'Red Rose', sans-serif;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Almarai';
  src: url('../fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
}